<app-header [pageTitle]="'Calendario'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="calendario-container">
    <ion-datetime 
      presentation="date" 
      [showDefaultButtons]="true" 
      doneText="Seleccionar" 
      cancelText="Cancelar"
      (ionChange)="onFechaSeleccionada($event)">
    </ion-datetime>
  </div>

  @if (fechaSeleccionada) {
    <ion-card-header class="titulo-seccion">
      <ion-card-title>Entrenamientos para {{ fechaSeleccionada | date:'dd/MM/yyyy' }}</ion-card-title>
    </ion-card-header>
    
    @if (cargando) {
      <div class="mensaje-cargando">
        <ion-card>
          <ion-card-content>
            <p>Cargando entrenamientos...</p>
          </ion-card-content>
        </ion-card>
      </div>
    }
    @if (!cargando) {
      <p>Número de entrenamientos: {{ entrenamientosDelDia.length }}</p>
    }
    
    @if (!cargando && entrenamientosDelDia.length > 0) {
      <div class="entrenamientos-lista">
        @for (entrenamiento of entrenamientosDelDia; track $index; let i = $index) {
          <ion-card class="entrenamiento-card">
            <ion-card-header>
              @if (esEntrenador) {
                <div class="delete-icon" (click)="eliminarEntrenamiento(entrenamiento)">
                  <ion-icon name="trash-outline" color="danger"></ion-icon>
                </div>
              }
              <ion-card-title>{{ entrenamiento.nombre || 'Sin título' }}</ion-card-title>
              @if (esEntrenador) {
                <ion-card-subtitle>
                  Atleta: {{ entrenamiento.nombreAtleta || 'Nombre no disponible' }}
                </ion-card-subtitle>
              }
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" (click)="verDetalleEntrenamiento(entrenamiento)">
                Ver detalle
              </ion-button>
            
            </ion-card-content>
          </ion-card>
        }
      </div>
    }
    
    @if (!cargando && entrenamientosDelDia.length === 0) {
      <div class="mensaje-sin-entrenamientos">
        <ion-card>
          <ion-card-content>
            <p>No hay entrenamientos para esta fecha.</p>
          </ion-card-content>
        </ion-card>
      </div>
    }
  }
</ion-content>
