.custom-header {
  --background: transparent;
  --border-width: 0;
  --border-style: none;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.header-title {
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}

ion-buttons[slot="end"] {
  margin-right: 8px;
}

ion-menu-button {
  --color: var(--ion-color-dark);
}