

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h1 class="main-title ion-text-center">LiftVault</h1>
    
    <div class="user-type-container">
      <div class="user-type-card athlete">
        <h2>Iniciar Sesion</h2>
        <div class="button-group">
          
          <ion-button expand="block" fill="outline" class="login-btn" (click)="navigateToLogin()">
            Iniciar Sesión
          </ion-button>
        </div>
      </div>
      
      <div class="user-type-card coach">  
        <h2>Registrarme</h2>
        <div class="button-group">
          <ion-button expand="block" class="register-btn" (click)="navigateToCoachRegister()">
            Registrarme como Entrenador
          </ion-button>
          <ion-button expand="block" class="register-btn" (click)="navigateToRegister()">
            Registrarme como Atleta
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>