<ion-content class="ion-padding">
  <div class="page-container">
    <h1 class="main-title ion-text-center">LiftVault</h1>
    
    <div class="buttons-container">
      <ion-button expand="block" color="primary" (click)="navigateToCoachLogin()">
        Iniciar sesión entrenador
      </ion-button>
      
      <ion-button expand="block" color="primary" (click)="navigateToAthleteLogin()">
        Iniciar sesión atleta
      </ion-button>
      
      <ion-button expand="block" color="primary" (click)="navigateToRegister()">
        Registrarse
      </ion-button>
      
      <ion-button expand="block" color="primary" (click)="navigateToCoachRegister()">
        Registrarse entrenador
      </ion-button>
    </div>
  </div>
</ion-content>