<app-header [pageTitle]="'Videos  de ejercicios'"></app-header>

<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let exercise of exercises">
        <ion-card (click)="verDetallesEjercicio(exercise.id)" class="exercise-card">
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{ exercise.name }}</ion-card-title>
          </ion-card-header>
          
          <div class="video-placeholder ion-text-center">

            <div class="video-container">
              <img src="assets/video-placeholder.jpg" alt="{{ exercise.name }}" />
              <div class="play-button">
                <ion-icon name="play-circle-outline"></ion-icon>
              </div>
            </div>
          </div>
          
          <ion-card-content class="ion-text-center">
            <p>{{ exercise.description }}</p>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
