<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <ion-avatar class="profile-avatar">
      <img [src]="usuario.foto" alt="Foto de perfil">
      <!-- Removed change photo button -->
    </ion-avatar>
    <h2 class="profile-name">{{ usuario.nombre }}</h2>
  </div>

  <ion-list>
    <ion-item lines="none" class="rounded-input">
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" placeholder="nombre usuario" class="custom-input"></ion-input>
    </ion-item>

    <ion-item lines="none" class="rounded-input">
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="usuario.email" type="email" placeholder="email" class="custom-input"></ion-input>
    </ion-item>

    <ion-item lines="none" class="rounded-input">
      <ion-label position="stacked">Entrenador</ion-label>
      <ion-input [(ngModel)]="usuario.entrenador" placeholder="Entrenador asignado" class="custom-input" disabled></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="ion-padding">
    <ion-button expand="block" (click)="guardarCambios()" shape="round" class="save-button">
      Guardar cambios
    </ion-button>
  </div>
</ion-footer>
