<app-header [pageTitle]="'Perfil de Usuario'"></app-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <h2 class="profile-name">{{ usuario.nombre }}</h2>
    <ion-badge color="{{ usuario.esEntrenador ? 'primary' : 'success' }}" class="user-type-badge">
      {{ usuario.esEntrenador ? 'Entrenador' : 'Atleta' }}
    </ion-badge>
  </div>

  <ion-list>
    <ion-item lines="none" class="rounded-input">
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" placeholder="nombre usuario" class="custom-input"></ion-input>
    </ion-item>

    <ion-item lines="none" class="rounded-input">
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input [(ngModel)]="usuario.email" type="email" placeholder="email" class="custom-input"></ion-input>
    </ion-item>
    
    @if (usuario.esEntrenador) {
      <ion-item lines="none" class="rounded-input">
        <ion-label position="stacked">Tu ID</ion-label>
        <div class="id-container">
          <ion-input [(ngModel)]="usuario.id" placeholder="ID de entrenador" class="custom-input" disabled></ion-input>
          <ion-icon name="clipboard-outline" (click)="copiarAlPortapapeles(usuario.id)" class="copy-icon"></ion-icon>
        </div>
      </ion-item>
    }
    
    @if (!usuario.esEntrenador) {
      <ion-item lines="none" class="rounded-input">
        <ion-label position="stacked">ID Entrenador</ion-label>
        <div class="id-container">
          <ion-input [(ngModel)]="usuario.idEntrenador" placeholder="ID del entrenador asignado" class="custom-input" disabled></ion-input>
        </div>
      </ion-item>
    }
  </ion-list>
</ion-content>


