<app-header [pageTitle]="'Detalles del Entrenamiento'"></app-header>

<ion-content>
  <div class="video-details-container">
    <h2>{{ videoDetails.name }}</h2>

    <div class="video-container">
      <img [src]="'assets/placeholder.jpg'" alt="Video placeholder" *ngIf="!videoDetails.videoUrl">
    </div>

    <div class="description">
      <p>{{ videoDetails.description }}</p>
    </div>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Información Adicional</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>ID del ejercicio: {{ videoDetails.id }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
