<app-header [pageTitle]="'Ejercicios'"></app-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-item class="input-container rounded-item">
      <ion-input [(ngModel)]="tituloEntrenamiento" placeholder="Título entrenamiento" [readonly]="esAtleta"></ion-input>
    </ion-item>
    
    <ion-item class="input-container rounded-item">
      <ion-input type="date" [(ngModel)]="fechaEntrenamiento" placeholder="Fecha de entrenamiento" [readonly]="esAtleta"></ion-input>
    </ion-item>
    
    @if (!esAtleta) {
      <ion-button expand="block" color="primary" (click)="abrirModalNuevoEjercicio()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Agregar ejercicio
      </ion-button>
    }
    
    @if (ejerciciosAgregados && ejerciciosAgregados.length > 0) {
      <div class="ejercicios-container">
        @for (ejercicio of ejerciciosAgregados; track $index; let i = $index) {
          <ion-card class="ejercicio-card">
            <ion-card-header>
              <ion-card-title>{{ ejercicio.nombre }}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              @if (ejercicio.series && ejercicio.series.length > 0) {
                <div class="series-container">
                  <div class="series-header">
                    @if (!esAtleta) {
                      <ion-button size="small" fill="clear" (click)="agregarSerieAEjercicio(i)" class="add-series-button-card">
                        <ion-icon name="add-circle-outline"></ion-icon>
                      </ion-button>
                    }
                  </div>

                  @for (serie of ejercicio.series; track $index; let j = $index) {
                    <div class="serie-item">
                      <div class="serie-row">
                        <span class="serie-number">{{j+1}}</span>
                        
                        <ion-item class="input-container serie-input">
                          <div class="label-container">
                            <span class="input-label">KG</span>
                            <ion-input [(ngModel)]="serie.kg" placeholder="" type="number" class="text-center"></ion-input>
                          </div>
                        </ion-item>
                        
                        <ion-item class="input-container serie-input">
                          <div class="label-container">
                            <span class="input-label">RPE</span>
                            <ion-input [(ngModel)]="serie.rpe" placeholder="" type="number" class="text-center"></ion-input>
                          </div>
                        </ion-item>
                        
                        <ion-item class="input-container serie-input">
                          <div class="label-container">
                            <span class="input-label">REPES</span>
                            <ion-input [(ngModel)]="serie.repeticiones" placeholder="" type="number" class="text-center"></ion-input>
                          </div>
                        </ion-item>
                        
                        @if (!esAtleta) {
                          <ion-button fill="clear" size="small" (click)="eliminarSerieDeEjercicio(i, j)" class="delete-btn">
                            <ion-icon name="close-outline"></ion-icon>
                          </ion-button>
                        }
                      </div>
                    </div>
                  }
                </div>
              }

              <div class="descripcion-ejercicio">
                <p>{{ ejercicio.descripcion }}</p>
              </div>
            </ion-card-content>
          </ion-card>
        }
      </div>
    }
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success" (click)="guardarEntrenamiento()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo ejercicio</ion-title>

        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <ion-item class="input-container">
          <ion-input [(ngModel)]="nuevoEjercicio.nombre" placeholder="Nombre del ejercicio"></ion-input>
        </ion-item>
        
        <ion-item class="input-container">
          <ion-textarea 
            [(ngModel)]="nuevoEjercicio.descripcion" 
            placeholder="Descripción del ejercicio" 
            rows="4">
          </ion-textarea>
        </ion-item>

        <div class="series-section">
          <ion-button size="small" expand="block" (click)="agregarSerie()" class="add-series-button">
            Añadir Serie
          </ion-button>
          
          @for (serie of nuevoEjercicio.series; track $index; let i = $index) {
            <div class="serie-item">
              <div class="serie-row">
                <span class="serie-number">{{i+1}}</span>
                
                <ion-item class="input-container serie-input">
                  <ion-input [(ngModel)]="serie.kg" placeholder="KG" type="number"></ion-input>
                </ion-item>
                
                <ion-item class="input-container serie-input">
                  <ion-input [(ngModel)]="serie.rpe" placeholder="RPE" type="number"></ion-input>
                </ion-item>
                
                <ion-item class="input-container serie-input">
                  <ion-input [(ngModel)]="serie.repeticiones" placeholder="REPS" type="number"></ion-input>
                </ion-item>
                
                <ion-button fill="clear" size="small" (click)="eliminarSerie(i)" class="delete-btn">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          }
        </div>
      </ion-content>
      
      <ion-footer>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="medium" (click)="cerrarModal()">
                Cerrar
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" color="primary" (click)="guardarEjercicio()">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
