<div class="row mt-5">
  <div class="col-4 offset-4">
    <div class="form-check form-switch">
      <input type="checkbox" [(ngModel)]="loginUp"
             class="form-check-input" id="switch" (click)="cleanForm()">
      <label for="switch" class="form-check-label">
        {{ loginUp ? 'Login' : 'Register' }}
      </label>
    </div>
  </div>
</div>
<form [formGroup]="formUser">
  <div class="row">
    <div class="col-md-4 offset-md-4 mt-3">
      @if (!loginUp){
        <div class="form-floating mb-3">
          <input type="text"
                 formControlName="user"
                 id="user"
                 placeholder="user"
                 class="form-control">
          <label for="user">Username</label>
        </div>
      }
      <div class="form-floating mb-3">
        <input type="mail"
               formControlName="mail"
               id="mail"
               placeholder="mail"
               class="form-control">
        <label for="mail">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password"
               formControlName="password"
               id="password"
               placeholder="password"
               class="form-control">
        <label for="password">Password</label>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-success"
                (click)="loginUp?login(): register()"
                [disabled]="formUser.invalid">
          {{loginUp?'Login':'Register'}}
        </button>
      </div>
    </div>
  </div>
</form>
