:root {
  --ion-color-primary: #9370DB; 
  --ion-color-primary-rgb: 147, 112, 219;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8162c1;
  --ion-color-primary-tint: #9e7fdf;
  
  --ion-color-secondary: #B57EDC; 
  --ion-color-secondary-rgb: 181, 126, 220;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #9f6fc2;
  --ion-color-secondary-tint: #bd8fe0;
}
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
